.addstep{
    background: #fff;
    padding:13px 10px;
    border-radius: 6px;
}
.addstep .step{
    text-align: center;
}
.addstep .step img{
    width:264px;
}
.addstep .txt{
    display: flex;
    text-align: center;
    padding-top: 10px;
}
.addstep .txt p{
    flex: 1;
    font-size: 12px;
    color:#999;
}
.addstep .txt p.active{
    color:#e74744;
}
.changecard{
    background: #fff;
    border-radius: 6px;
}
.changecard ul{
    padding:15px;
}
.changecard li{
    padding:5px 0;
    height: 20px;
    line-height: 20px;
}
.changecard li .name{
    float: left;
    width: 80px;
    font-size: 15px;
    color:#777;
}
.changecard li .input{
    float: left;
    width: calc(100% - 80px);
    font-size: 14px;
    color:#333;
    text-align: right;
}
.addsuc{
    padding:28px 0 20px;
    border-bottom: 1px solid #e5e5e5;
    margin:0 15px;
}
.addsuc img{
    width: 50px;
    margin-bottom: 10px;
}
.addsuc p{
    font-size: 16px;
    color:#333;
}